<!DOCTYPE html>
<html>
<head>
    <title>{{ user_data.username }}'s Stats</title>
</head>
<body>
    <h1>{{ user_data.username }}'s Stats</h1>
    <p>Top Artists: {{ user_data.top_artists }}</p>
    <p>Top Songs: {{ user_data.top_songs }}</p>
    <p>Genres: {{ user_data.genres }}</p>

    {% if is_following %}
    <a href="{{ url_for('unfollow_user', username=user_data.username) }}">Unfollow</a>
    {% else %}
    <a href="{{ url_for('follow_user', username=user_data.username) }}">Follow</a>
    {% endif %}
    
    <a href="{{ url_for('send_message', username=user_data.username) }}">Send Message</a>
</body>
</html>
